<% content_for :title do %>
  Editing: <%=h @metric.name %>
<% end %>


<% form_for(@metric) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
   <% f.fields_for :data_units do |data_point_form| %>
      <p>
        <%= f.label :data_point  %>
      </p>
      <p>
        <div>
          <%= data_point_form.text_field :data_point%>
          <%= data_point_form.text_field :when %>
        </div>

      </p>
    <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<%= link_to 'Show', @metric %> |
<%= link_to 'Back', metrics_path %>
