<% content_for :title do %>
  <%=h @metric.name %>
<% end %>

<p>
  <b>Key:</b>
  <%=h @metric.key %>
</p>

<p>
  <b>Data:</b>
  <%=h @metric.to_csv %>
</p>

<p>
  <img src="<%="/metrics/graph/#{@metric.id}"%>"/>
</p>


<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
